[submodule "lib/opencv"]
	path = lib/opencv
	url = https://github.com/opencv/opencv
[submodule "lib/opencv_contrib"]
	path = lib/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "lib/crossguid"]
	path = lib/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "lib/ossp-uuid"]
	path = lib/ossp-uuid
	url = https://github.com/sean-/ossp-uuid.git
